/* Global fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.snowflake {
  position: fixed;
  top: -10px;
  width: 20px;
  height: 20px;
  background-image: url('/WoB/snowfall.png'); /* Path to your snowflake image */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  pointer-events: none; /* Ensure clicks pass through the snowflakes */
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}


.flip-clock {
  --fcc-flip-duration: 0.5s;
  --fcc-spacing: 8px;
  --fcc-digit-block-width: 84px;
  --fcc-digit-block-height: 90px;
  --fcc-digit-block-radius: 5px;
  --fcc-digit-block-spacing: 5px;
  --fcc-digit-font-size: 98px;
  --fcc-digit-color: white;
  --fcc-label-font-size: 18px;
  --fcc-label-color: #ffffff;
  --fcc-background: radial-gradient(
    circle,
    rgba(173, 216, 230, 1) 0%,
    rgba(0, 0, 139, 1) 100%
  );
  --fcc-divider-color: white;
  --fcc-divider-height: 3px;
  --fcc-separator-size: 6px;
  --fcc-separator-color: white;
}

@media (max-width: 768px) {
  .flip-clock {
    --fcc-digit-block-width: 60px;
    --fcc-digit-block-height: 65px;
    --fcc-digit-font-size: 70px;
    --fcc-label-font-size: 14px;
  }
}

@media (max-width: 480px) {
  .flip-clock {
    --fcc-digit-block-width: 25px;
    --fcc-digit-block-height: 30px;
    --fcc-digit-font-size: 20px;
    --fcc-label-font-size: 8px;
    --fcc-divider-height: 1px;
    --fcc-separator-size: 3px;
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

.img__container > img {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

/* bg-gradient-to-b from-orange-600 to-primary_orange-0 */
#CTA-button {
  transition: ease-in-out 1s;
  margin-left: -1px;
  margin-right: 10px;
}
#CTA-button:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 20px #ff7a19;
}

#CTA-button-wob {
  transition: ease-in-out 1s;
  margin-left: -1px;
  margin-right: 10px;
}
#CTA-button-wob:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 20px #85C6DC;
}

#CTA-button1 {
  transition: ease-in-out 1s;
  margin-left: 10px;
  
}
#CTA-button1:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 20px #ff7a19;
}

/* nav underline animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ff6701, #fc9219);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.statscol {
  width: 200px;
}

.timeline-item-title .active {
  font-size: xx-large;
}

#Sponsors {
  padding-top: 100px;
  margin-top: -100px;
}

.search-count {
  position: absolute;
  left: auto;
  right: 21px;
  color: #94a3b8;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 0;
}

.search-container {
  max-width: 300px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

.loader-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 13;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f1f5f9;
  z-index: 13;
  opacity: 0.8;
}

.loader-group-container {
  position: absolute;
  top: 38vh;
  z-index: 13;
  opacity: 1;
  width: 100%;
  align-items: center;
}

.loader-group {
  background-color: white;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 0 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.fullscreen {
  position: fixed;
  z-index: 13;
  height: 200vh;
  width: 96vw;
  margin: 0 2vw;
}

.table-cell {
  vertical-align: middle;
}

.loader {
  height: 4rem !important;
  width: 4rem !important;
}

.loading-msg {
  color: black;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-align: center;
}

.skeleton-circle-lg {
  height: 160px !important;
  width: 160px !important;
  margin: auto;
}

.skeleton-circle-md {
  height: 80px !important;
  width: 80px !important;
  margin: auto;
}

.pr-links {
  color: #2563eb;
  opacity: 0.9;
}

.dark-modal .pr-links {
  color: #dbeafe;
}

.pr-links:hover {
  text-decoration: underline;
  opacity: 1;
}

.close-btn:hover,
.view-btn:hover {
  background-color: #fa500c !important;
}

.dark-modal {
  background-color: #000000 !important;
}

.modal-score {
  background-color: #ebfaeb;
  margin-left: 20px;
  font-size: 22px;
}

.username:hover {
  text-decoration: underline;
}

.pagination-holder {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: fit-content;
  width: -moz-fit-content;
  position: absolute;
  right: 0;
  background-color: #f3f4f6;
  padding: 5px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out 0s;
}
.dark-theme.pagination {
  background-color: #171717;
}
.pagination .page-item {
  height: 2.2rem;
  width: 2.4rem;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.5s ease-in-out 0s;
}
.pagination .page-item:last-child {
  border-right: none;
}
.dark-theme.pagination .page-item.active-page {
  background-color: #525252;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.pagination .page-item.active-page {
  background-color: #d1d5db;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dark-theme.pagination .page-item .page-link {
  color: white;
}

.pagination .page-link {
  font-weight: bolder;
  display: flex;
  height: 100%;
  align-items: center;
  align-self: center;
  justify-content: center;
  transition: all 0.5s ease-in-out 0s;
}

/* media queries for the date part of chrono */
@media screen and (max-width: 600px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
    font-size: xx-small !important;
    text-align: left !important;
    /* font-weight: bold !important; */
  }
  .pagination {
    padding: 0;
  }
  .pagination .page-item {
    height: 35px;
    width: 30px;
  }
}

@media screen and (min-width: 601px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
  }
}

@media screen and (max-width: 800px) {
  .search-container {
    max-width: 200px;
    width: 80%;
  }
  .loader-group {
    height: 150px;
    width: 150px;
  }

  .table-cell {
    vertical-align: middle;
  }

  .loader {
    height: 3rem !important;
    width: 3rem !important;
  }

  .loading-msg {
    color: black;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .skeleton-circle-lg,
  .skeleton-circle-md {
    height: 65px !important;
    width: 65px !important;
  }
}

@media screen and (max-width: 400px) {
  .search-container {
    max-width: unset;
    width: 80%;
  }
}

/* slider styles */
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.keen-slider__slide {
  width: "300px";
}

#OrangeCon {
  background-color: #eb5a0c;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #eb5a0c 30px
    ),
    repeating-linear-gradient(#a8400855, #a84008);
}
#BlackCon {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#fd7617 2px, transparent 2px),
    radial-gradient(#fd7617 2px, #000000 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
#PNGCon {
  background-image: url("https://user-images.githubusercontent.com/64256342/165560868-8a025a10-992f-46b5-beaf-686aafd78522.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#BlobCon {
  /* width: 1000px;
  height: 1000px; */
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23fd7617%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23eb5a0c%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}

.skeleton-circle-lg,
.skeleton-circle-md {
  height: 54px !important;
  width: 54px !important;
}

.banner {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 975px;
  height: 688px;
  position: relative;
}

.cert-contrib {
  background-size: contain;
}
.cert-topcontrib {
  background-size: contain;
}
.cert-mentor {
  background-size: contain;
}
.cert-pa {
  background-size: contain;
}
.cert-ca {
  background-size: contain;
}
.cert-speaker {
  background-size: contain;
}
.cert-orgteam {
  background-size: contain;
}

.contrib_name_2024 {
  position: absolute;
  top: 45%;
  left: 63%;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
}

.cert_id_2024 {
  position: absolute;
  bottom: 3%;
  left: 42%;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
}

.issue_2024 {
  position: absolute;
  bottom: 3%;
  right: -37%;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
}
.contrib_name_2023 {
  position: absolute;
  top: 36%;
  left: 70%;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
}
.export-mode .contrib_name {
  top: 30.5%;
  left: 64%;
  transform: translate(-50%, -50%);
}
.text-big-orange {
  font-size: 30px;
  font-weight: bold;
  color: #fd7617;
  font-family: "Playfair Display", sans-serif;
}

#no-mobile-alert {
  display: none;
}


/* progress bar */

.scroll-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px; 
  z-index: 9999; 
}

.scroll-progress-bar {
  height: 100%;
  background-color: #ff8000; /* Color of the progress bar */
}


@media only screen and (max-width: 1250px) {
  .contrib_name {
    top: 46%;
    left: 67%;
  }
  .text-big-orange {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1210px) {
  .banner {
    background-size: calc(100% - 100px);
  }
  .contrib_name {
    top: 44%;
    left: 60%;
  }
  .text-big-orange {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1175px) {
  .contrib_name {
    top: 43%;
    left: 60%;
  }
  .text-big-orange {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1080px) {

  .contrib_name {
    top: 41%;
    left: 60%;
  }
  #no-mobile-alert {
    display: block;
  }
}
@media only screen and (max-width: 1080px) {
  .banner{
    display: block;
    background-size:contain;
    width: 998px;
    position: absolute;
    height: 704px;
  }
  .contrib_name{
    top:250px;
    left:790px;
    width:400px;
    transform: translate(-50%, -50%);
  }
  .text-big-orange {
    font-size: 35px;
  }
  #no-mobile-alert {
    display: block;
  }
}

#IPFSCon {
  background-color: #041a2a;
  opacity: 1;
  background-image: linear-gradient(to right, #041a2a, #0f2f4f);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
